@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/dashboard.css");
@import url("components/card.css");

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

p {
	
}

